<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	  <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
        <description/>
        <servlet-name>SpotifyAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Spotify</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpotifyAuthController</servlet-name>
        <url-pattern>/AuthController/Spotify</url-pattern>
    </servlet-mapping>
    <!--SpotifyOAuth2Callback-->
    <servlet>
        <description/>
        <servlet-name>SpotifyOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Spotify</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/login.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpotifyOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Spotify</url-pattern> 
</servlet-mapping>
	<!--SearchController-->
	<servlet>
	
    <servlet-name>searchController</servlet-name>
    <servlet-class>aiss.controller.search.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchController</servlet-name>
    <url-pattern>/searchController</url-pattern>
  </servlet-mapping>
  <!--Twitch-->
  <servlet>
  <description/>
  <servlet-name>TwitchAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Twitch</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitchAuthController</servlet-name>
        <url-pattern>/AuthController/Twitch</url-pattern>
    </servlet-mapping>
<servlet>
        <description/>
        <servlet-name>TwitchOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Twitch</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/searchController</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitchOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Twitch</url-pattern> 
</servlet-mapping>
    <!--Youtube-->
  <servlet>
  <description/>
  <servlet-name>YoutubeAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Youtube</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>YoutubeAuthController</servlet-name>
        <url-pattern>/AuthController/Youtube</url-pattern>
    </servlet-mapping>
<servlet>
        <description/>
        <servlet-name>YoutubeOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Youtube</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/login.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>YoutubeOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Youtube</url-pattern> 
</servlet-mapping>

      <!--Reddit-->
  <servlet>
  <description/>
  <servlet-name>RedditAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Reddit</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedditAuthController</servlet-name>
        <url-pattern>/AuthController/Reddit</url-pattern>
    </servlet-mapping>
<servlet>
        <description/>
        <servlet-name>RedditOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Reddit</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/login.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedditOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Reddit</url-pattern> 
</servlet-mapping>
 <servlet>
    <description></description>
    <display-name>TwitchLogInServlet</display-name>
    <servlet-name>TwitchLogInServlet</servlet-name>
    <servlet-class>aiss.controller.search.TwitchLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitchLogInServlet</servlet-name>
    <url-pattern>/twitchLogIn</url-pattern>
</servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitchCallbackServlet</display-name>
    <servlet-name>TwitchCallbackServlet</servlet-name>
    <servlet-class>aiss.controller.search.TwitchCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitchCallbackServlet</servlet-name>
    <url-pattern>/TwitchCallback</url-pattern>
  </servlet-mapping>
</web-app>