<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <description/>
        <servlet-name>SpotifyAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Spotify</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpotifyAuthController</servlet-name>
        <url-pattern>/AuthController/Spotify</url-pattern>
    </servlet-mapping>
    <!--SpotifyOAuth2Callback-->
    <servlet>
        <description/>
        <servlet-name>SpotifyOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Spotify</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/searchController</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpotifyOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Spotify</url-pattern> 
</servlet-mapping>
	<!--SpotifySearchController-->
	<servlet>
    <servlet-name>searchController</servlet-name>
    <servlet-class>aiss.controller.search.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchController</servlet-name>
    <url-pattern>/searchController</url-pattern>
  </servlet-mapping>
  

  
</web-app>